@import "bootstrap/less/bootstrap.less";

@new-test: #fff;
@my-color: #1d98a9;
@my-background: #c1c7cc;
@my-default-border:#aaa;
.btn-my {
  .button-variant(@my-color; @my-background; @my-default-border);
}
.header {
  color: black;
  background-color:#ffffff;
  .navigation {
    font-size: 14px;
  }
  .logo {
    width: 300px;
  }
}


